<!--
  Generated template for the Tinmoi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-list-header class="body">
    <div class="avatar">
        <img src="http://kenh14cdn.com/2016/hqdefault-1471067394884.jpg" />
    </div>
  </ion-list-header>
  <div *ngFor="let n of news,let i = index" [class.opi]="n.ChuaXem">
    <ion-card>
      <ion-item-sliding>
        <ion-item (click)="daxem(n)" (click)="goDetail($event,i,news)" *ngIf="!n.Undo">

          <img [src]=n.URLThumbImage />
          <ion-card-content class="cards">
            <ion-card-title>
              <h2>{{n.TieuDe}}</h2>
            </ion-card-title>
            <p>{{n.ThoiGianDangTin | date: 'dd/MM/yyyy HH:mm'}}</p>
            <p>{{n.MoTa}}</p>
          </ion-card-content>
        </ion-item>
        <ion-item *ngIf="n.Undo" (click)="Undo(n,i,news)">
          <strong>Hoàn tác</strong>
        </ion-item>

        <ion-item-options (ionSwipe)="del(n,i,news)" side="right">
        </ion-item-options>
        <ion-item-options side="left" (ionSwipe)="del(n,i,news)">
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </div>
