page-chitiettin {
    .slide-zoom {
        height: 100%;
    }
    .body {
        background-color: #cccccc;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    ion-content div.scroll {
        height: 100%;
    }
    div.scroll-content {
        margin: 50px 4px 0px 4px;
    }
    .webPage {
        width: 100%;
        height: 100%;
        // border: 1px solid #EAAB00;
        padding: 0 0.2rem;
    }
}