div.scroll-content {
    margin-top: 55px;
    margin-left: 0px;
    margin-right: 0px;
}
.slide-zoom{
     height: 100%;
}
page-webview {
    .body {
        background-color: #cccccc;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    ion-content div.scroll {
        height: 100%;
    }
}

.webPage {
    width: 100%;
    height: 100%;
    // border: 1px solid #EAAB00;
     padding: 2rem;
}

