div.scroll-content {
    margin-top: 55px;
    margin-left: 0px;
    margin-right: 0px;
}
.slide-zoom{
     height: 100%;
}
page-webview {
    .body {
        background-color: #cccccc;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    ion-content div.scroll {
        height: 100%;
    }
}

.webPage {
    width: 100%;
    height: 91%;
    border: 1px solid #EAAB00;
    // padding: 1rem;
}

// .pan {
//     width: 100%;
//     height: 50px;
//     padding: 15px;
//     background-color: #248f8f;
//     .header {
//         width: 20%;
//         float: left;
//         margin-left: 40px;
//         color: white;
//     }
// }
// .content {
//     width: 97%;
//     height: auto;
//     margin: 10px;
//     p {
//         font-size: 18px;
//         word-wrap: break-word;
//     }
// }
// .bottom {
//     background-color: lightgray;
//     h4 {
//         font-size: 18px;
//         padding: 10px;
//         font-weight: bold;
//     }
//     .foter {
//         width: 100%;
//         height: auto;
//         margin-bottom: 10px;
//         border-bottom: 1px solid gray;
//         .img-tin {
//             width: 180px;
//             img {
//                 width: 100px;
//                 height: 50%;
//                 padding-top: 6px;
//                 float: left;
//             }
//         }
//         ;
//         ion-item{
//             h2{
//                 margin-top: 10px;
//                 text-align: center;
//                 font-weight: bold;
//             }
//         }
//     }
// }
// .top {
//     img {
//         width: 100%;
//         height: 70%;
//     }
//     ;
//     p {
//         font-size: 15px;
//         color: gray;
//         margin: 0px 5px;
//         padding-top: 0px;
//     }
//     ;
//     h2 {
//         padding: 5px;
//         margin: 2px;
//     }
//     ;
// }