<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <chart [options]="options" (load)="saveInstance($event.context)"></chart>
  <hr />
  <div *ngIf="summary">
    <p class="content">{{this.summary.time | date:'yMd'}} {{this.summary.time | date:'jms'}}</p>
    <table class="cus_table" width="100%">
      <tbody>
        <tr *ngFor="let value of summary.info">
          <td>
            {{value.name}}
          </td>
          <td style="text-align: right;">
           <strong>{{value.value}}</strong> ({{value.DonViTinh}})
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>
