.content {
    text-align: center;
}

#chart-container{
	min-width: 310px;
	max-width: 800px;
}

chart {
  display: block
}

/*table, th, td {
    border: 1px solid black;
}*/

.cus_table {
  border-spacing: 5px;
  border-collapse: separate;
}

/*td {
  padding: 10px;
}*/
