<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.nkengineering197580" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode="1">
    <name>nkengineering</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="www/resources/ios/icon/icon-60@3x.png"/>
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-targetSdkVersion" value="16" />
    </platform>
    <platform name="ios">
      <!-- iPhone 6 / 6+ -->
      <icon src="www/resources/ios/icon/icon-60@3x.png" platform="ios" width="180" height="180" />
      <!-- iPhone / iPod Touch  -->
      <icon src="www/resources/ios/icon/icon-60.png" platform="ios" width="60" height="60" />
      <icon src="www/resources/ios/icon/icon-60@2x.png" platform="ios" width="120" height="120" />

      <splash src="www/resources/ios/splash/Default@2x~universal~anyany.png" />

      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <allow-navigation href="http://10.1.219.128:8100" />
    <allow-navigation href="http://192.168.56.1:8100" />
    <allow-navigation href="http://192.168.3.67:8100" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-console" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="ionic-plugin-keyboard" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
</widget>
