<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.nkengineering197580" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode="1">
  <name>nkengineering</name>
  <description>App quan trac</description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <!--<allow-intent href="market:*"/>
    -->
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="16"/>
    <!--<icon src="res/android/xhdpi.png" />
    <icon src="res/android/ldpi.png" density="ldpi" />
    <icon src="res/android/mdpi.png" density="mdpi" />
    <icon src="res/android/hdpi.png" density="hdpi" />
    <icon src="res/android/xhdpi.png" density="xhdpi" />-->
 </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <icon src="resources/ios/icon/icon-50@2x.png" width="180" height="180" />
    <splash src="resources/ios/splash/Default-568h@2x.png" width="640" height="1136" />
  </platform>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <preference name="FadeSplashScreenDuration" value="300"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <allow-navigation href="http://10.1.219.128:8100"/>
  <allow-navigation href="http://192.168.56.1:8100"/>
  <allow-navigation href="http://192.168.3.67:8100"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <gap:plugin name="cordova-plugin-statusbar" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
  <gap:plugin name="cordova-plugin-device" source="npm"/>
  <gap:plugin name="ionic-plugin-keyboard" source="npm"/>
</widget>
