page-tintuc {
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        border-color: #248f8f;
    }
    .segment-md .segment-button {
        color: #145252;
        font-weight: bold;
        font-size: 13px;
    }
    div.scroll-content {
        margin: 0px;
    }
    .body {
        background-color: #cccccc;
        ion-row {
            ion-icon {
                color: white;
            }
        }
    }
    .icons {
        padding-left: 60px;
    }
    .card-md ion-card-content {
        padding-top: 0px;
    }
    .opi {
        .card-md {
            border-color: brown;
            border-style: solid;
        }
    }
}