.ios,
.md {
    map-page {
        .scroll-content {
            height: 100%
        }
        #map {
            width: 100%;
            height: 92%;
        }
    }
}

.table_thongso th, .table_thongso td{
   border: 1px solid black;
   padding: 5px;
}

.table_thongso{
  width: 100%;
}
