page-chuyenmuc {
.body  {

    background-image: url("../assets/img/nen.PNG");
    background-color: #cccccc;
}
.button{
    height: 45px;
    font-size: 18px;

}
.button {
    background-color:#000080;
    color: white;

}
.button:hover {
    text-align: center;
    background-color: 	#0000CD;
    color: white;
}
}
