page-home {
    // ion-grid {
    //     padding-left: 0px;
    //     padding-right: 10px;
    // }
    .opi {
        .card-md {
            background-color: red;
            h4 {
                color: white;
            }
        }
    }
    .tool-home {
        button {
            color: white;
            height: 55px;
            width: 180px;
            float: right;
            /*padding: 20px 0px;*/
            font-size: 18px;
            font-weight: bold;
            border-left: 2px solid white;
        }
        .dachon {
            height: 55px;
            width: 165px;
            float: left;
            padding: 18px;
            label {
                color: white;
                position: absolute;
                /*padding: 20px 0px;*/
                font-size: 18px;
                font-weight: bold;
                margin-left: 5px;
            }
        }
    }
    // .contain {
    //     text-align: center;
    //     padding: 0px 3px 2px 3px;
    //     p {
    //         font-size: 10px;
    //         margin: 2px;
    //         padding-top: 4px;
    //     }
    // }
    .card-background-page {
        margin: 3px;
        .card-md {
            margin: 0.35em;
            width: 30%;
            height: 150px;
            float: left;
            img {
                max-width: 85%;
                height: 80px;
                float: left;
                /*margin-bottom: 15px;*/
                margin: 0px 15px 15px 9px;
                /*padding: 10px;*/
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                /*opacity: .8;*/
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
        }
        .card-ios {
            margin: 4px;
            width: 110px;
            height: 150px;
            float: left;
            img {
                max-width: 80%;
                height: 80px;
                float: left;
                /*margin-bottom: 15px;*/
                margin: 0px 15px 15px 9px;
                /*padding: 10px;*/
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                /*opacity: .8;*/
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
        }
        ion-card {
            width: 97%;
            height: 155px;
            float: left;
            text-align: center;
            h4 {
                font-weight: bold;
                margin: 1px;
                font-size: 15px;
            }
        }
    }
    .toolbar-content-md {
        .button-home {
            background-color: #387ef5;
            height: 55px;
            width: 100%;
        }
    }
    .toolbar-content-ios {
        .button-home {
            background-color: #387ef5;
            height: 55px;
            width: 100%;
        }
    }
}

ion-toolbar {
    max-height: 50px;
}