page-home {
    // ion-grid {
    //     padding-left: 0px;
    //     padding-right: 10px;
    // }
    .opi {
        .card-md {
            background-color: red;
            h4 {
                color: white;
            }
        }
        .card-ios {
            background-color: red;
        }
        .card-ios h4 {
            color: white;
        }
    }
    .card-background-page {
        .card-md {
            margin: 0.35em;
            width: 30%;
            height: 150px;
            float: left;
            img {
                max-width: 85%;
                height: 80px;
                float: left;
                /*margin-bottom: 15px;*/
                margin: 0px 15px 15px 9px;
                /*padding: 10px;*/
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                /*opacity: .8;*/
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            h4 {
                font-weight: bold;
                margin: 1px;
                font-size: 14px;
                text-align: center;
            }
        }
        .card-ios {
            margin: 0.35em;
            width: 30%;
            height: 150px;
            float: left;
            img {
                max-width: 80%;
                height: 80px;
                float: left;
                /*margin-bottom: 15px;*/
                margin: 0px 15px 15px 9px;
                /*padding: 10px;*/
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                /*opacity: .8;*/
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            // ion-card {
            //     width: 97%;
            //     height: 155px;
            //     float: left;
            //     text-align: center;
            h4 {
                font-weight: bold;
                margin: 1px;
                font-size: 14px;
                text-align: center;
            }
            // }
        }
    }
    .footer-ios {
        .toolbar-ios {
            padding: 0px;
        }
        .toolbar-content-ios {
            background-color: #387ef5;
            .dachon {
                float: left;
                padding: 1.2em 15px;
                label {
                    color: white;
                    position: absolute;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        .tool-home {
            .button-ios {
                border-radius: 0px;
            }
            button {
                color: white;
                height: 45px;
                width: 160px;
                float: right;
                /*padding: 20px 0px;*/
                font-size: 18px;
                font-weight: bold;
                border-left: 1px solid white;
            }
        }
    }
    .footer-md {
        .toolbar-md {
            padding: 0px;
        }
        .toolbar-content-md {
            background-color: #387ef5;
            .dachon {
                float: left;
                padding: 1.2em 15px;
                label {
                    color: white;
                    position: absolute;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        .tool-home {
            .button-md {
                border-radius: 0px;
            }
            button {
                color: white;
                height: 45px;
                width: 160px;
                float: right;
                /*padding: 20px 0px;*/
                font-size: 18px;
                font-weight: bold;
                border-left: 1px solid white;
            }
        }
    }
}